@font-face {
    font-family: 'Oswald-Medium';
    src: url('resources//Oswald-Medium.ttf');
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


*{
  padding: 0;
  margin: 0;
}




  
/* Skillpage */  

.container-skillstext {
  text-decoration: none;
  color:#ffffff;
  font-family: Oswald-Medium;
  background-color: #00000096;
  padding: 5rem 2rem;
  margin:  2rem 4rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.container-abouttext {
  text-decoration: none;
  color:#ffffff;
  font-family: Oswald-Medium;
  background-color: #00000096;
  padding: 5rem 2rem;
  margin:  3rem 6rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.skillstext {
  font-size: 25px;
  text-align: center;
}
.abouttext {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5rem;
}
.container-skillicons{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;

}

.skill {
  transition: transform 0.5s ease-in;
}

.skill:hover{  
      transform: rotate(360deg);
  
}

.skill{
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.react{
  height: 100px;
  width: 100px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 1rem;
}





/* Skillpage-ends */  

/*Footer*/
footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #081120;
    width: 100%;
    color: #B99C3F;
}

.fa {
  padding: 20px;
  text-decoration: none;
}

.fa-map-marker{
  color: #ffffff;
}


.footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: #081120;
    justify-content: space-evenly;
}

.footer-text a{
  color:#ffffff;
}

.footer-text{
  text-align: start;
}

.footer-header{
  padding-bottom: 0.2rem;
  z-index: 99;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
   
}

.socials a i{
    font-size: 2.0rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #b49d4f;
}

.footer-bottom{
    width: 100vw;
    text-align: center;
    color: #ffffff;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-left: 2rem;
    padding-bottom: 1rem;
 }
 .footer-bottom p a{
   color:#ffffff;
   font-size: 15px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

.requisits {
  padding-top: 1rem;
}

.opening-hours{
  padding-top: 1rem;
}

 @media only screen and (max-width: 900px) {
    .aboutfoot{
      position: absolute;
      margin-bottom: 0;
    }

    footer{
       background: rgb(0, 0, 0);
    }
 }
/* Footer End*/

/* Nav */

header {
    font-family: Oswald-Medium;
    width: 100%;
    height: 100px;
    background: #061021;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    position: fixed;
    top: 0;
}

.logo {
    padding-top: 2px;
    padding-left: 1.5rem;
}

.logo-img{
  width:8rem;
  height: auto;
}


.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
}

.nav-bar ul li a {
    display: block;
    color: #B99C3F;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
    
}

.nav-bar ul li a:hover {
    color: #ffffff;
    background: #B99C3F;
}

.nav-bar ul li a.active {
    color: #ffffff;
    background: #B99C3F;
}

@media only screen and (max-width: 1320px) {
    header{
        padding: 0 0px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 0px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 3rem;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 520px;
        width: 100%;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.1s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(255, 255, 255);
    }
    header {
        background: rgb(0, 0, 0);
    }
}
/* Navbar-ends */

/* Main-content */

/* Intro-card */
.index-container{
    display: flex; 
    flex-wrap: nowrap;
    background-color:#081120;
    padding: 1px 1px;
    border-radius: 0.5rem;
    justify-content: center;
    max-width: 100%;
    margin:  2rem 2rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
    height: auto;
}

.index-container-2{
  display: flex; 
  flex-wrap: nowrap;
  background-color:#081120;
  padding: 1px 1px;
  border-radius: 0.5rem;
  justify-content: center;
  max-width: 100%;
  margin:  2rem 2rem;
  margin-bottom: 2rem;
  margin-top: 8rem;
  height: auto;
}


@media only screen and (max-width: 900px) {
  .index-container{
    flex-wrap: wrap;
    margin: 0, 0;
    padding: 0, 0;
  }


}


.introheading {
    font-family: Oswald-Medium;
    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-top: 2rem;
    padding-left: 2.0rem;
}

.introheading-2 {
  font-family: Oswald-Medium;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-top: 5rem;
  padding-left: 2.0rem;
}

.introheading2 {
  font-family: Oswald-Medium;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 2.0rem;
    padding-top: 1rem;
}
.introheading2-2 {
  font-family: Oswald-Medium;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 2.0rem;
    padding-top: 4rem;
}

.introtext {
    color: #ddd;
}

.textoid {
  font-family: Oswald-Medium;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  padding: 3rem 2.0rem;
  padding-top: 2.5rem;
}

.textoid-2 {
  font-family: Oswald-Medium;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  padding: 3rem 2.0rem;
  padding-top: 4rem;
}

@media only screen and (max-width: 900px) {

  div.index-container{
    margin-top: 2rem;
  }

  div.btnbox{
    margin-top: 1rem;
    flex-wrap: nowrap;
  }

  a.btn{
    padding: 0.1rem;
    font-size: 14px;
    margin: 0.3rem;
  }

  p{
     font-size: 3vw;

  }
  .textoid{
    padding: 0;
  }

  p.abouttext{
    font-size: 2vw;
    margin-bottom: 0;
  }
  .aboutheading{
    margin-bottom: 2rem;
  }

  div.container-abouttext{
    margin: 5rem 5rem;
    margin-bottom: 2rem;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
  }

  div.container-skillstext{
    margin-bottom: 1rem;
    padding: 5.0rem 2rem;

  }
  p.skillstext{
    font-size: 3vw;
  }
  h1.skillheading{
    margin-bottom: 2rem;
  }
  div.container-skillicons{
    width: 10vw;
  }
  .skill{
    width: 5rem;
    margin-bottom: 0rem;
  }

  div.contact-container{
    margin-top: 5rem;
    margin-bottom: 0rem;
  }

  div.cardcont{
    padding:2rem 5rem;
    margin: 1rem 0rem;

  }
}

.btnbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.2rem 0.2rem;
  margin-top: 3rem;
  text-align: center;
  
}

.btn {
  font-family: Oswald-Medium;
  border:2px solid rgb(251, 249, 255) ;
  border-radius: 6rem;
  color: white;
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}


.btn:hover {
  background-color: rgb(84, 0, 210);
}


.img-container {
  padding: 0rem 0rem;
}
.me{
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
    max-width: 50%;
    height: auto;
  }


  .aboutme{
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
    border-radius: 50cm;
    height: auto;
    width: 100%;
    border:2px solid rgb(251, 249, 255) ;
  }

    
  /* Intro-card-ends */



  /*Blinkr-end*/

  /* Projects-list */

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 1.3rem;
    
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7rem 1.3rem;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 1rem 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #0000006f;
    transition: transform .5s; 
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem 1rem;
  }

  .cardcont {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: 1rem 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #0000006f;
    transition: transform .5s; 
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    padding: 10rem 10rem;
  }

  .cardcont h1{
    margin-bottom: 2.5rem;
  }

  .card p {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
  }

  .cardcont p {
    margin-top: 0.2rem;
    margin-bottom: 1.8rem;
  }

  .card:hover {
    transform: scale(1.1);
  }

  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .cardcont button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 5rem;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .cardcont button:hover {
    opacity: 0.7;
  }



  /* Home banner */

  .welcome-container{
    text-align: center;
    width: 100%;
  }
  .welcome-banner{
    width: 100%;
    height: auto;
  }

  .slogan{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 3rem;
  }

  .wbtn {
    font-family: Oswald-Medium;
    border:2px solid rgb(251, 249, 255) ;
    color: white;
    background-color: #081120;
    padding: 0.1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
  }

  .wsbtn {
    font-family: Oswald-Medium;
    border:2px solid rgb(251, 249, 255) ;
    color: white;
    background-color: #081120;
    padding: 0.1rem 1rem;
    text-decoration: none;
    font-size: 3rem;
  }

  .wbtn:hover {
    background-color: #B99C3F;
    color: #081120;
    transition-duration: 0.8s;
    transition-property: background-color;
  }

  .wsbtn:hover {
    background-color: #B99C3F;
    color: #081120;
    transition-duration: 0.8s;
    transition-property: background-color;
  }

  .wsbtn-container{
    text-align: center;
    margin-bottom: 3rem;
  }
  
  /* Home banner ends */

  /* Service menu */
.index-services{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

  .table{
    border-collapse: collapse;
    width: 35%;
  }

  .parent-table{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .service-table{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 35%;
    border-collapse: collapse;
  }
  .table td,.table th{
    padding: 12px 15px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
  }
  .service-table td,.service-table th{
    padding: 12px 15px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
  }
  .table th{
    background-color: #B99C3F;
    color: rgb(255, 255, 255);
  }
  .service-table th{
    background-color: #B99C3F;
    color: rgb(255, 255, 255);
  }
  .table td{
    background: #061021;
    color: rgb(255, 255, 255);
  }
  .service-table td{
    background: #061021;
    color: rgb(255, 255, 255);
  }


  /* Service menu ends */

/* Gallery */

.img-carousel {
  margin-top: 0rem;
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-carousel {
  position: static;
  width: 70%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: static;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: static;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.gallery{
  color: #ffffff;
  text-align: center;
  margin-top: 10rem;
}

.customer-selection{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  width: 50%;
}

.customer{
  font-family: Oswald-Medium;
  font-size: 3rem;
  color: #ffffff;
  background-color:#081120;
  border:2px solid rgb(251, 249, 255) ;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3rem;
}
.customer:hover{
  background-color: #B99C3F;
  color: #081120;
    transition-duration: 0.8s;
    transition-property: background-color;
}

.customer-selection-services{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.customer-services{
  font-family: Oswald-Medium;
  font-size: 3rem;
  color: #ffffff;
  background-color:#081120;
  border:2px solid rgb(251, 249, 255) ;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3rem;
}

.customer-services:hover{
  background-color: #B99C3F;
  color: #081120;
    transition-duration: 0.8s;
    transition-property: background-color;
}

html {
  scroll-behavior: smooth;
}

#myVideo{
  position: static;
  margin-top: 5rem;
  z-index: 0;
}

.galnav{
  position: relative;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  z-index: -1;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  margin-bottom: 3rem;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}